{% extends "base.html" %}

{% block content %}
<div class="dead-end-container">
    <h1 class="dead-end-text">
        Christmas is saved!
    </h1>
    <p class="dead-end-text">
        While your attempt to save the Christmas  presents initially enraged Cate
        your encyclopaedic knowledge of her works flattered her so much she relented.
        You spend the rest of Christmas handing back gifts with your new bestie
    </p>

    <!-- Optional Image -->
    <img src="/static/images/confrontation.png" alt="Illustration of the ending" class="dead-end-image">

    <!-- Restart Button -->
    <a href="/" class="restart-button">Restart Adventure</a>
</div>
{% endblock %}