{% extends "base.html" %}

{% block content %}
<div class="dead-end-container">
    <h1 class="dead-end-text">
        The confrontation turns sour...
    </h1>
    <p class="dead-end-text">
        Cate categorically denies any involvement in the
        mysterious, nefarious noises you heard, this Christmas Eve.
        Indeed, the very suggestion that she may have something to do
        with it enrages her. Out of spite, she forms a close friendship
        with your granddaughter; whilst ensuring you are never privy to
        their weekly gossip sessions.
    </p>

    <!-- Optional Image -->
    <img src="/static/images/lilablanchett.jpg" alt="Illustration of the ending" class="dead-end-image">
    <!-- Restart Button -->
    <a href="/" class="restart-button">Restart Adventure</a>
</div>
{% endblock %}