{% extends "base.html" %}

{% block content %}
<div class="dead-end-container">
    <h1 class="dead-end-text">
        The goose enrages you with its squawks...
    </h1>
    <p class="dead-end-text">
        So you chase after it to teach it a lesson; thinking to
        yourself, this will make a nice addition to the Christmas
        dinner tomorrow. Unfortunately for you, the plucky goose was
        quicker than you had bargained for. After a long wild goose chase
        the goose exhausts you until you collapse, before stealing your
        hat and waltzing off.
    </p>

    <!-- Optional Image -->
    <iframe src="https://giphy.com/embed/Q6fMHd5G3As00" width="480" height="269" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <!-- Restart Button -->
    <a href="/" class="restart-button">Restart Adventure</a>
</div>
{% endblock %}