{% extends "base.html" %}

{% block content %}
<div class="dead-end-container">
    <h1 class="dead-end-text">
        Tough Luck!
    </h1>
    <p class="dead-end-text">
        Alas, you don't realise the time passing, as you collect the myriad
        of Cate Blanchett paraphernalia you have around the house and
        that you want Cate to sign. By the time you have gathered everything,
        Cate has already stolen all the neighbourhood presents and fled!
    </p>

    <!-- Optional Image -->
    <img src="/static/images/evilcate.png" alt="Illustration of the ending" class="dead-end-image">

    <!-- Restart Button -->
    <a href="/" class="restart-button">Restart Adventure</a>
</div>
{% endblock %}